.Banner{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 50px;
    height: 100%; 
    background: #ffffff;
    border: 3px outset #aea8a8;
    .Banner-Container{  
    margin-left: 20px;
    margin-right: 20px; 
        .Banner-header{
            height: 30px;  
            .Banner-title{
                font-size: 22px;
                font-weight: bold;
            }
            .Banner-btn{
                float: right;
                display: block;
                padding: 7px 15px;
                border: none;
                outline: none;
                background: rgb(20, 20, 163);
                color: black;
                cursor: pointer;
                text-transform: uppercase;
                &:hover{
                    color: white;
                    background: #000000;
                }
            }
        }
        .Banner-body{  
            padding: 0 40px; 
            padding: 10px 50px;
            .Banner-image{
                 img{ 
                    
                    width: 95% !important;
                    height: 220px  !important;  
                    overflow: hidden !important;
                    display: flex !important;
                    align-items: flex-end !important;
                    justify-content: center !important;
                    border-radius: 10px;
                
                }
                
                div{ 
                font-size: 22px;
                font-weight: bold;
                }
            }
          
            .slick-prev {  
                left: -3% !important;
                z-index: 99!important;
                height: 15% !important;
                width: 3%!important;
               border-radius: 5vw;
                &:hover{
                    background: #d7d7d7 !important;
                }
            }
            .slick-next::before{
                 
                content: "→";
                 color: red !important;
                            // content: "\f053" !important;
                        }
            .slick-prev::before{
                
    content: "←"; 
                color: red !important;
                // content: "\f053" !important;
            }
            .slick-next {  
                background: white !important;
                right: -3% !important;
                z-index: 1000;
                height: 15% !important;
                width: 3%!important;
               border-radius: 5vw;
                &:hover{
                    background: #d7d7d7 !important;
                }
            }  
        }
    }
}
